---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import HDIMog from "@components/hdimog/HDIMog";
---

<Layout title={`HDImog | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle="HDImog"
    pageDesc="What if development data determined what countries you could go to?"
  >
    <HDIMog client:load />
  </Main>
  <Footer />
</Layout>
