---
import Layout from "@layouts/Layout.astro";
const message =
  "while I look for an alternative hoster, this blog is offline in protest of Vercel CEO Guillermo Rauch's talks with Benjamin Netanyahu";
---

<Layout title="Site Offline" description={message}>
  <main id="main-content">
    <p>{message}</p>
  </main>
</Layout>

<style>
  #main-content {
    @apply flex min-h-screen items-center justify-center px-8 text-center;
  }

  #main-content p {
    @apply text-xl font-medium leading-relaxed;
  }
</style>
