---
interface Heading {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
}

interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li class="">
  <div class="mb-2">
    <a href={'#' + heading.slug} class="text-skin-base hover:text-skin-accent">
      {heading.text}
    </a>
  </div>
  {heading.subheadings.length > 0 && (
    <ul class="ml-2 pl-3 border-l border-dashed border-skin-line">
      {heading.subheadings.map((subheading) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>
